<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156407008306-blndq2ek6puae2c313bos2tj2mo9nc08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156407008306-blndq2ek6puae2c313bos2tj2mo9nc08</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTNoDzByiT3yNQSSXDaR-yGgAQgfR0YE</string>
	<key>GCM_SENDER_ID</key>
	<string>156407008306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bendinelli.beltrante.hangOutApp</string>
	<key>PROJECT_ID</key>
	<string>hangoutapp-36ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>hangoutapp-36ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156407008306:ios:5fa25554b9a9141c55c02b</string>
</dict>
</plist>